@charset "utf-8";

/* 全体 */
html {
  font-size: 100%;
}

body {
  text-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* ヘッダー */

.header {
  padding: 15px 0;
  background-color: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #777;
}

.btn {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn a:hover {
  transition: 0.3s;
  color: #333;
}

/* keyvisual */

.keyvisual-inner {
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat;
  background-size: cover;
  padding: 400px 0;
  width: 100%;
  position: relative;
}

.copy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
  white-space: nowrap;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

/* work */

.work {
  background-color: #e3f2fd;
}

.work-container {
  display: flex;
  padding-top: 50px;
}

.work-img {
  flex-basis: 40%;

}

.work-img img {
  width: 250px;
}

.work-small-box {
  flex-basis: 60%;
}

.work-small-box h3 {
  padding: 20px 0 35px;
  font-size: 40px;
  letter-spacing: 10px;
}

.work-small-box p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

/* we are skills */

.skills {
  background-color: #fff;
}

.skills-inner {
  padding: 50px 0 70px;
}

h3 {
  font-size: 40px;
  letter-spacing: 10px;
  padding-bottom: 50px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 100px;
}

.skills-list li img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
}

.skills-list li img:hover {
  opacity: 1;
}

/* select plan */

.plan {
  background-color: #d0dfea;
}

.plan-inner {
  padding: 50px 0;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-left: 2px solid #fff;
}

th:first-of-type {
  border-left: 0;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #e0efff;
}

tr:first-child {
  background-color: #6ba7eb;
}

/* sns */

.sns {
  background-color: #e3f2fd;
}

.sns-inner {
  padding: 200px 0;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.sns-icon {
  color: #8c8c8c;
  width: 185px;
  font-size: 40px;
  overflow: hidden;
  padding: 25px 0;
}

.sns-icon:hover {
  transition: 0.5s;
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #cfd8dc;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer-inner {
  text-align: right;
}

small {
  font-size: 10px;
  letter-spacing: 0.5px;
}

/* tab */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* 全体 tab */
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  /* keyvisual tab */
  .keyvisual-inner {
    padding: 250px 0;
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }


  /* work tab */

  .work-container {
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
  }

  /* we are skills  tab*/

  .skills-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
    column-gap: 0;
  }

  .skills-list li:nth-child(3n) {
    margin-bottom: 80px;
  }

  .skills-list li:last-child {
    margin-bottom: 0;
  }

  .skills-list li img {
    vertical-align: middle;
  }
}

/* mobile */
.drawer-hidden {
  display: none;
}

@media screen and (max-width: 767px) {

  /* 全体 mobile*/
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  /* ハンバーガー  mobile*/
  .btn,
  .btn a {
    display: none;
  }

  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  .drawer-open span,
  .drawer-open span::before,
  .drawer-open span::after {
    content: ' ';
    display: block;
    height: 5px;
    width: 25px;
    border-radius: 3px;
    background: #8e8e8e;
    position: absolute;
  }

  .drawer-open span::before {
    bottom: 8px;
  }

  .drawer-open span::after {
    top: 8px;
  }

  label {
    border: 2px solid #8e8e8e;
    border-radius: 5px;
  }

  /* keyvisual mobile */
  .keyvisual-inner {
    padding: 200px 0;
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  /* work mobile */

  .work-container {
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
  }

  /* we are skills mobile */

  .skills-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
    column-gap: 0;
  }

  .skills-list li:nth-child(3n) {
    margin-bottom: 100px;
  }

  .skills-list li:last-child {
    margin-bottom: 0;
  }

  .skills-list li img {
    vertical-align: middle;
  }

  /* select plan mobile */

  table {
    width: 100%;
    table-layout: fixed;
  }

  th {
    font-size: 14px;
    line-height: 22px;
  }

  td {
    font-size: 12px;
  }

  /* sns mobile */

  .sns-inner {
    padding: 50px 15px;
  }

  .icon-list {
    flex-direction: column;
  }

  .sns-icon {
    width: 100%;
    font-size: 40px;
    overflow: hidden;
    padding: 50px 0;
  }

  .sns-icon:hover {
    transition: 0.5s;
    background-color: #fff;
  }

  /* footer mobile */

  .footer {
    background-color: #cfd8dc;
  }

  .footer-inner {
    padding: 20px 0 25px;
  }

  .footer-inner {
    text-align: right;
  }

  small {
    font-size: 10px;
    letter-spacing: 0.5px;
  }

}